.swiper-vertical>.swiper-wrapper{
	flex-direction:column
}
.swiper-android .swiper-slide,.swiper-ios .swiper-slide,.swiper-wrapper{
	transform:translate3d(0px,0,0)
}
.swiper-horizontal{
	touch-action:pan-y
}
.swiper-vertical{
	touch-action:pan-x
}